data/creditcard.csv
data/premium.csv
data/Dubizzle_used_car_sales.csv
data/santander-customer-satisfaction/sample_submission.csv
data/santander-customer-satisfaction/test.csv
data/santander-customer-satisfaction/train.csv
streamlit_env/


# 파이썬 가상환경
venv/
.venv/
env/
.env

# 파이썬 캐시 파일
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode 설정 파일
.vscode/

# 크롤링 결과물 (소스코드가 아니므로)
*.csv
*.db
*.sql
/flags/
/product_images/

# 기타
lg7pilot/
LG_U.code-workspace
prompting/.env
prompting/chroma
data
prompting/chroma_db/chroma.sqlite3
prompting/chroma_wine/chroma.sqlite3
